@charset "UTF-8";

/* 초기화 */
* {margin: 0; padding: 0;}
body {font-family: 'Helvetica', serif; min-width: 760px;}
li {list-style: none;}
a {text-decoration: none;}
/*헤더*/
#main_header {
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    background: #1D4088;
    color: white;
}
/*내비게이션*/
#main_gnb {
    overflow: hidden;
    border-bottom: 1px solid black;
    background: #32394A;
}
#main_gnb > ul.left {
    overflow: hidden;
    float: left;
}
#main_gnb > ul.right {
    overflow: hidden;
    float: right;
}
#main_gnb > ul.left > li {
    float: left;
}
#main_gnb > ul.right > li {
    float: left;
}
#main_gnb a {
    display: block;
    padding: 10px 20px;
    border-left: 1px solid #5F6673;
    border-right: 1px solid #242A37;
    color: white;
    font-weight: bold;
}
/*콘텐츠*/
#wrap {
    overflow: hidden;
}
#wrap > #main_lnb {
    float: left;
    width: 200px;
}
#wrap > #content_wrap {
    float: left;
    width: 100%;
    margin-right: -200px;
}
#wrap > #content_wrap > #content {
    padding-right: 200px;
}
/*수직목록*/
#wrap {
    background: #71B1D1;
}
#main_lnb > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border-top: 1px solid #96D6F6;
    border-bottom: 1px solid #6298B2;
    color: white;
    font-weight: bold;
}
/*본문*/
#content {
    background: white;
    border-left: 1px solid black;
}
article {
    padding: 10px;
}
/*푸터*/
#main_footer {
    padding: 10px;
    border-top: 3px solid black;
    text-align: center;
}